<section id="skills" class='container-fluid'>
      <div id="content" class='row text-center'>
        <div id='info' class='col-sm-12 col-lg-4 d-flex align-items-center'>
          <div class="jumbotron">
            <h3>Informatique</h3>
       			  <h6>Maintenance élémentaire</h6>
              <p>(anti-virus, anti-malware, formatage et réinstallation du système d'exploitation Windows, MAJ pilotes matériel)</p>
       			  <h6>Langages</h6>
              <p>HTML5, CSS3, JS, PHP, MySQL</p>
              <h6>Framework</h6>
              <p>Bootstrap4, Jquery</p>
       			  <h6>M.A.O.</h6>
              <p>Logiciels Traktor, FL Studio, Ableton</p>
          </div>
        </div>
        <div id='comm' class='col-sm12 col-lg-4 d-flex align-items-center'>
          <div class="jumbotron">
            <h3>Communication</h3>
            <h6>Générale</h6>
            <p>Anglais courant, bon relationnel client</p>
            <h6>Evénementielle</h6>
            <p>réseaux sociaux, affichage, radios, communiqués de presse</p>
            <p>Démarchage clients/partenaires/artistes (managers)</p>
            <p>Édition de contrats/factures</p>
          </div>
        </div>
        <div id='elec' class='col-sm12 col-lg-4 d-flex align-items-center'>
          <div class="jumbotron">
            <h3>Électricité Tertiaire</h3>
       			  <p>Pose de canalisation électrique (goulottes, moulures, tubes IRL)</p>
       			  <p>Raccordement appareillage électrique basse tension (luminaires, interrupteurs, prises...) et très basse tension (centrales et détecteurs incendie, prises téléphone/réseaux RJ45)</p>
       			  <p>Installation et raccordement de matériel de sonorisation (haut-parleurs, amplificateurs, tables de mixage, instruments, câbles RCA/jack/XLR/midi)</p>
          </div>
        </div>
      </div>

  </section>
