#skills {
  background: url("../img/tree.jpeg")fixed center no-repeat;
  background-size: cover; }
  #content{
    padding-top: 1em;
  }
  #skills h2 {
    text-shadow: 0.1em 0.1em 0.15em #333; }
  #skills .row {
    margin-left: 0;
    margin-right: 0; }
  #skills .jumbotron {
    margin: 40px auto;
    background-color: rgba(233, 236, 239, 0.7); }
  #skills #comm {
    background-size: cover; }
  #skills #elec {
    background-size: cover; }
