html, body{
  position: relative;
  height: 100%;
}

#head{
  width: 100%;
}
#navbar{
  width: 100%;
}
#outlet{

  width: 100%;
  background-color: black;
}

#footer{
  position: sticky;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  margin-bottom: 0;
}
