<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav mr-auto d-flex justify-content-around">
        <li class="nav-item">
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil<span class="sr-only">(current)</span></a>
        </li >
        <li class="nav-item">
          <a routerLink="/skills" routerLinkActive="active">Compétences</a>
        </li>
        <li class="nav-item">
          <a routerLink="/projects" routerLinkActive="active">Projets Développement</a>
        </li>
        <li class="nav-item">
          <a routerLink="/exp" routerLinkActive="active">Expériences</a>
        </li>
        <li class="nav-item">
          <a routerLink="/music" routerLinkActive="active">Musique</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
