<section id="music" class="container-fluid ">

      <div id="cnt-music" class="row">
        <div id="seuh" class="col-sm-12 col-md-5 text-center d-flex align-items-center">
          <h3>SeuH KrY</h3>
            <div class="">
              <a href="https://www.facebook.com/SeuHKrY/"><i class="fa fa-facebook-square fa-5x col-12 fb"></i></a>
            </div>
            <div class="">
              <a href="https://www.mixcloud.com/SeuH_KrY/"><i class="fa fa-mixcloud fa-5x col-12"></i></a>
            </div>
            <div class="">
              <a href="https://soundcloud.com/seuhkry"><i class="fa fa-soundcloud fa-5x col-12"></i></a>
            </div>
        </div>

        <div id="shake" class="col-sm-12 offset-md-2 col-md-5 text-center d-flex align-items-center">
          <h3>Shake dB</h3>
              <div class="">
                <a href="https://www.facebook.com/ShakeDnB/"><i class="fa fa-facebook-square fa-5x col-12 fb"></i></a>
              </div>
              <div class="">
                <a href="https://www.youtube.com/user/shake87000/videos"><i class="fa fa-youtube fa-5x col-12"></i></a>
              </div>
              <div class="">
                <a href="https://www.mixcloud.com/shakedabooty"><i class="fa fa-mixcloud fa-5x col-12"></i></a>
              </div>
              <div class="">
                <a href="https://soundcloud.com/shake-db"><i class="fa fa-soundcloud fa-5x col-12"></i></a>
              </div>
        </div>
      </div>
  </section>
