<section id="projects" class="container-fluid text-center">
    <div id="container" class="container">
      <div id="jbt" class="row text-center jumbotron">
        <div class="col-sm-12 col-md-6" title="Jeu vidéo type Space Invaders sur le theme Pokemon">
          <a href='https://github.com/Chris-Gold/Pokemon-invaders.git'><p><i class="fa fa-gamepad fa-5x"></i></p>Pokemon Invaders</a>
        </div>
        <div class="col-sm-12 col-md-6" title="Explorateur de fichier">
          <a href='https://github.com/Chris-Gold/navigateur.git'><p><i class="fa fa-folder fa-5x"></i></p>NAVIGAJAXATOR</a>
        </div>
        <div class="col-12 text-center" title="Refactoring et amelioration visuel d'un code existant avec theme Simpsons">
          <a href='https://github.com/Chris-Gold/Navimpson.git'><p><i class="fa fa-eye fa-5x"></i></p>Navimpson</a>
        </div>
        <div class="col-sm-12 col-md-6" title="Systeme de Blog en lien avec une Base de Données">
          <a href='https://github.com/Chris-Gold/blog.git'><p><i class="fa fa-rss fa-5x"></i></p>Blog C.S.A.</a>
        </div>
        <div class="col-sm-12 col-md-6" title="Integration d'un theme sous Wordpress">
          <a href='https://github.com/Chris-Gold/wordpress.git'><p><i class="fa fa-wordpress fa-5x"></i></p>Theme Wordpress</a>
        </div>

      </div>
    </div>
</section>
