<section id="infos" class="container-fluid">  
    <div class="container d-flex align-items-center animated slideInUp ">
      <div class="row jumbotron ">
        <ul class="list-unstyled col-12 text-center">
          <li>32 ans  03/07/1985</li>
          <li>80 avenue du sablard</li>
          <li>87000 LIMOGES</li>
          <li><a href="tel:+33667323575">06-67-32-35-75</a></li>
          <li><a href="mailto:ratsimbachris@hotmail.fr">ratsimbachris@hotmail.fr</a></li>
          <li class="text-center">
            <a class="fb" href="https://www.facebook.com/chris.rtsmb.5" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a id="lkd" href="https://www.linkedin.com/in/christian-ratsimba-944345155/" title="Linkedin" ><i class="fa fa-linkedin fa-2x"></i></a>
            <a id="git" href="https://github.com/Chris-Gold" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a>
          </li>
        </ul>
        <iframe class="col-12 text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2780.0821315179082!2d1.2737806147841162!3d45.82963791700674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f9349a924700c3%3A0x46914ec744289d79!2s80+Avenue+du+Sablard%2C+87000+Limoges!5e0!3m2!1sfr!2sfr!4v1518283403890" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
